@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
html, body{
	margin: 0px;
	width: 100%;
	height: 100%
}

.card{
	position: absolute;
	background-color: #202635;
	width: 90%;
	height: 89%;
	top: 10%;
	left: 5%;
	border-radius: 9px;
	
}
.link-discord{
	text-align: center;
	position: absolute;
	height: 45px;
	width: 150px;
	right: 30px;
	top: 15px;
	border-width: 2px;
	border-color: #B6B8C6;
	border-style: outset;
	border-style: solid;
	border-radius: 18px;
}
.link-discord:active{
	animation: ok infinite 2s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent
}
@keyframes ok{
	0%{
		background-color: #B6B8C6;
	}
	50%{
		background-color: #4F57B0;
	}
	100%{
		background-color: #B6B8C6;
	}
}
.style-link-discord{
	position: relative;
	width: 100%;
	height: 80%;
	top: 20%;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: whitesmoke;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent
}
.pfp-bot{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 90px;
	border-radius: 8px;
}
.title-bot{
	position: absolute;
	top: 20px;
	left: 150px;
	font-size: 2.3em;
	font-weight: normal;
	color: whitesmoke;
}
/**/
.infos{
	position: absolute;
	width: 250px;
	height: 300px;
	top: 130px;
	left: 20px;
	
}
.size-infos{
	position: absolute;
	width: 240px;
	height: 30px;
	
}
.infos-img{
	width: 30px;
}
.p-info{
	position: absolute;
	top: 3px;
	left: 35px;
	color: white;
}
.title-info{
	font-family: 'Poppins', sans-serif;
	position: absolute;
	font-size: 1.3em;
	top: 2px;
	left: 0px;
	color: white;
}
#ext{
	font-family: 'Poppins',
	sans-serif;
	position: absolute;
	font-size: 1.3em;
	top: 62%;
	left: 20px;
	color: white;
}
#moderacao{
	top: 45px;
}
#economia{
	top: 85px;
}
#diversao{
	top: 125px
}
#personalizacao{
	top: 165px;
}
#comunidade{
	top: 205px;
}
#suporte{
	top: 245px;
}
.botoes{
	text-align: center;
	position: absolute;
	border-radius: 9px;
	width: 180px;
	height: 65px;
	left: 20px;
	background: #424CB5;
	animation: botao infinite 9s;
}
#add{
	top: 68.5%;
}
#help{
	top: 80%; 
}
.link-botoes{
	position: absolute;
	color: white;
	left: 0px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent
}

@keyframes botao{
	0%{
		background-color: #2478C2;
	}
	33%{
		background-color: #388DD9;
	}
	66%{
		background-color: #237CCB;
	}
	100%{
		background-color: #2478C2;
	}
}

.add-image{
	position: absolute;
	left: 5px;
	top: 15px;
	width: 35px;
}
.text-botoes{
	position: absolute;
	left: 50px;
	top: 20px;
}
.termos{
	position: absolute;
	bottom: 4%;
	left: 20px;
	font-size: .9em;
	color: black;
}
.copyright{
	position: absolute;
	bottom: 1%;
	left: 20px;
	font-size: .5em;
}
@media screen and (max-height: 700px){
	.copyright{
		display: none;
		color: seagreen;
	}
}